* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.form {
  width: 350px;
  margin: 0 auto;
}
.form input{
    display: none;
}
label{
    border: dashed black 2px;
    border-radius: 10px;
    width: 100%;
    display: block ;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: whitesmoke;
}
.uploadUi{
  width: 100%;
  margin-top: 130px;
}
label:hover{
  background-color: white;
}
.progras{
  margin-top: 20px;
  display: block;
  text-align: center;
  background-color: greenyellow;
  color: white;
  font-size: 14px;
}
button{
  cursor: pointer;
  border: 1px solid black;
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 20px;
   transition: 0.3s ease-in;
   padding: 15px 0;
}
button:hover{
  background: transparent;
}