* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.form {
  width: 350px;
  margin: 0 auto;
}
.form input{
    display: none;
}
label{
    border: dashed black 2px;
    border-radius: 10%;
}
